* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration-color: gold;
	text-decoration-thickness: 2px;
	text-decoration-line: none;
}

body {
	background-color: whitesmoke;
	font-family: Arial, sans-serif;
}

header {
	background-color: #333;
	color: greenyellow;
	text-align: center;
	padding: 20px 0;
	height: 20vh;
	align-content: center;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
	font-style: oblique;
}

.home {
	border-radius: 8px;
	border: 2px solid gold;
	position: absolute;
	top: 30px;
	left: 20px;
	width: 100px;
	height: 30px;
	align-content: center;
}

.home a {
	align-items: center;
	color: red;
}

.home a:hover {
	color: gold;
}
.container {
	padding: 20px;
	width: 100%;
	align-content: center;
}

.photo-row {
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
}

.photo-box {
	width: 30%;
	text-align: center;
}

.photo-box img {
	border: 2px solid gold;
	width: 100%;
	height: 600px;
	object-fit: cover;
	border-radius: 8px;
}

.photo-box p {
	color: red;
	font-family: cursive;
	margin-bottom: 10px;
	font-weight: bold;
	text-align: center;
}

.photo-box p:hover {
	color: gold;
}

