body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #4caf50;
	color: white;
	text-align: center;
	padding: 1rem 0;
}

.container {
	padding: 20px;
}

.row {
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
	width: 100%; /* Asegura que la fila ocupe todo el ancho */
}

.image-card {
	position: relative;
	text-align: center;
	flex: 1; /* Permite que las tarjetas ocupen el mismo espacio */
	margin: 0 10px; /* Espaciado entre tarjetas */
}

.image-card img {
	width: 100%;
	height: 400px;
	object-fit: cover; /* Asegura que las imágenes mantengan proporción, pero se ajusten al tamaño */
	border-radius: 10px;
}

.image-card p {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 5px;
	border-radius: 5px;
}

.buttons {
	position: absolute;
	top: 20px;
	right: 20px;
}

button {
	margin-left: 10px;
	padding: 10px 15px;
	background-color: #4caf50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #45a049;
}

